{% extends "base_generic.html" %}
{%block title %}<title> Author Detail </title> {% endblock %}

{% block content %}
    <div class="row">
        <h1 style="margin:10px auto; padding: 20px;">{{ author.last_name }} {{ author.first_name }}</h1>
    </div>

    <p><strong>First Name:</strong> <a>{{ author.first_name }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Last Name:</strong> {{ author.last_name }}</p>
    <p><strong>Date of Birth </strong> {{ author.date_of_birth }}</p> 
    <p><strong>Died</strong> {{ author.date_of_death }}</p>  
    <!-- <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>   -->

    <div style="margin-top:20px">
        <h4>Books</h4>
        {% for book in author.book_set.all %}
            <p>
                {{book.title}}
            </p>
        {% endfor %}
    </div>
        {% if perms.catalog.can_mark_returned %}
        <a href="{% url 'author-update' author.pk %}">Update Author Details</a> <br/>
        <a href="{% url 'author-delete' author.pk %}">Delete Author</a>
        {% endif %}
{% endblock %}