{% extends "base_generic.html" %}
{%block title %}<title> Author List </title> {% endblock %}
{% block content %}
<div class="row">
    <h1 style="margin:10px auto; padding: 20px;">List of Authors</h1>
</div>
    {% if author_list %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Author Name</th>
            </tr>
        </thead>
        <tbody>
            {% for author in author_list %}
            <tr>
                <td>
                    <a href="{{author.get_absolute_url}}">{{author.first_name}}</a> {{author.last_name}}   
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p>There are no author available</p>
    {% endif %}
{% endblock%}